@model WeatherApplication.Models.VoiceAssistanceIntegration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VoiceAssistanceIntegration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegrationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegrationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Settings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Settings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
