@model WeatherApplication.Models.AirQualityIndex

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AirQualityIndex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aqi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aqi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pollutants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pollutants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AqiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
