@model IEnumerable<WeatherApplication.Models.AirQualityIndex>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aqi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pollutants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aqi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pollutants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AqiId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AqiId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AqiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
